/* MoviesComponent.css */
.movies-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .movie-details {
    margin-top: 10px;
    text-align: center;
  }
  
  .movie-details h2 {
    margin: 10px 0;
  }
  
  .movie-details p {
    margin: 5px 0;
  }
  
  a:link{
    color: blue;
  }

  a:visited{
    color: blue;
  }
